---
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="th">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>บังแหลมอ่านไร - Mock Test นักวิชาการศุลกากรปฎิบัติการเตรียมสอบ</title>
	</head>
	<body>
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
